.table {
  border-collapse: collapse;
}

.table td {
  padding: 10px;
  border: 1px solid var(--main-border-color);
}

.language {
  display: inline-block;
}

.language__color {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
}

.language:not(:nth-child(1)) {
  margin-left: 10px;
}