.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__title {
  font-size: 42px;
}

.not-found__wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

.not-found__link {
  font-size: 18px;
  color: var(--main-link-color);
  text-decoration: none;
}

.not-found__link:hover,
.not-found__link:focus {
  text-decoration: underline;
  filter: brightness(1.1);
}